footer {
    width: 100vw;
    text-align: center;

    .footer__content__logo {
        margin-bottom: 36px;

        @media screen and (min-width: 960px) {
            margin-bottom: 100px;
        }
    }

    h6 {
        color: $creme-chantilly;
    }

    .span-footer {
        color: $creme-chantilly;
    }

    .span-footer-credits {
        color: $bleu-passeoire;
    }
}