header {

    nav {
        display: flex;
        justify-content: space-between;

        img {
            width: 68px;
        }

        span {
           width : 463px;
           display: flex;
           justify-content: space-between;
        }
    }
  }