html {
    font-size: 62.5%;
    margin : 0;
    background-color: $creme-chantilly;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: $head-font;
    font-size: 22.4rem;
    line-height: 0px;
}

h2 {
    font-family: $body-font;
    font-size: 6.8rem;
    font-weight: 700;
}