.btn_red_full {
    
    width: fit-content;
    font-family: $body-font;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 12px;
    border: 3px solid $rouge-tomate;
    background: $rouge-tomate;
    color: $creme-chantilly;
    padding: 7px 45px;
    align-items: center;
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    &:hover {
        border: none;
    }

    @media screen and (min-width: 900px) {
        font-size: 2.8rem;

        &:hover {
            border: none;
        }
    }

}

.btn_white_full { 

    width: fit-content;
    font-family: $body-font;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 12px;
    border: 3px solid $creme-chantilly;
    background: $creme-chantilly;
    color: $rouge-tomate;
    padding: 7px 45px;
    align-items: center;
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    &:hover {
        border: 3px solid $creme-chantilly;
        background: $rouge-tomate;
        color: $creme-chantilly; 
    }

    @media screen and (min-width: 900px) {
        font-size: 2.8rem;

        &:hover {
            border: 3px solid $creme-chantilly;
            background: $rouge-tomate;
            color: $creme-chantilly; 
        }
    }
}

.btn_cta { 

    width: fit-content;
    font-family: $body-font;
    font-weight: 700;
    font-size: 5.2rem;
    border-radius: 12px;
    border: 3px solid $rouge-tomate;
    background: $creme-chantilly;
    color: $rouge-tomate;
    padding: 14px 112px;
    align-items: center;
    cursor: pointer; /* Add a pointer cursor on mouse-over */

    &:hover {
        border: 3px solid $creme-chantilly;
        background: $rouge-tomate;
        color: $creme-chantilly; 
    }

    @media screen and (min-width: 900px) {
        font-size: 2.8rem;

        &:hover {
            border: 3px solid $creme-chantilly;
            background: $rouge-tomate;
            color: $creme-chantilly; 
        }
    }
}