/*Couleurs*/
$rouge-tomate: #D90718;
$rose-bonbon: #F2A7B5;
$bleu-passeoire: #9EA5D3;
$vert-pois: #57751F;
$jaune-curcuma: #F29F05;
$creme-chantilly: #FFFCED;
$bleu-myrtille: #24376E;
$fond-bulle-chat: #D7D7DA;


/*Typos*/
$head-font : "Pacifico", serif;
$body-font : "Quicksand", sans-serif;

/*Text*/
$text-with-h2-size-desktop: 3rem;
$text-with-h2-weight: 500;
$text-with-h2-line-desktop: 38px;

$text-with-h2-size-tablette: 2.5rem;
$text-with-h2-line-tablette: 33px;

$text-with-h2-size-mobile: 2rem;
$text-with-h2-line-mobile: 28px;

$text-step-weight: 600;
$text-step-size-mobile: 1.6rem;
$text-step-line-mobile: 24px;

$text-step-size-tablette: 2rem;
$text-step-line-tablette: 28px;

$text-step-size-desktop: 3rem;
$text-step-line-desktop: 38px;

$text-with-h4-weight: 600;
$text-with-h4-size-mobile: 1.4rem;
$text-with-h4-line-mobile: 22px;

$text-with-h4-size-tablette: 2rem;
$text-with-h4-line-tablette: 28px;

$text-with-h4-size-desktop: 2.4rem;
$text-with-h4-line-desktop: 32px;

$link-footer-weight: 700;
$link-footer-size-mobile: 1.4rem;

$link-footer-size-desktop: 2rem;

$footer-credits-weight: 400;
$footer-credits-size-mobile: 1.6rem;
$footer-credits-line-mobile: 20px;

$footer-credits-size-desktop: 1.4rem;
$footer-credits-line-desktop: 18px;

$list-weight: 700;
$list-size-mobile: 1.4rem;

$list-size-desktop: 2rem;

$calendar-title-weight: 400;
$calendar-title-size-mobile: 2.8rem;

$calendar-title-size-desktop: 2.2rem;

$calendar-number-weight: 400;
$calendar-number-size-mobile: 2.2rem;

$calendar-number-size-desktop: 2.8rem;

$calendar-days-weight: 700;
$calendar-days-size-mobile: 1.6rem;

$calendar-days-size-desktop: 1.4rem;


/*gap*/
$gap: 20px;
$gap-desktop: 28px;
$gap-mobile: 16px;
$gap-categorie: 100px;
$gap-categorie-mobile: 28px;
$gap-footer-link: 158px;
$gap-footer-social: 68px;
$gap-chat: 38px;
$gap-chat-mobile: 16px;