/*Couleurs*/
$rouge-tomate: #D90718;
$rose-bonbon: #F2A7B5;
$bleu-passeoire: #9EA5D3;
$vert-pois: #57751F;
$jaune-curcuma: #F29F05;
$creme-chantilly: #FFFCED;
$bleu-myrtille: #24376E;


/*Typos*/
/*$font-family-Pacifico : "Pacifico", cursive;
$font-family-Quicksand-light : "Quicksand", sans-serif;
$font-family-Quicksand-regular : "Quicksand", sans-serif;
$font-family-Quicksand-medium : "Quicksand", sans-serif;
$font-family-Quicksand-semibold : "Quicksand", sans-serif;
$font-family-Quicksand-bold : "Quicksand", sans-serif;*/

$head-font : "Pacifico", serif;
$body-font : "Quicksand", sans-serif;

/*Text*/
$text-with-h2-size-desktop: 3rem;
$text-with-h2-weight: 500;
$text-with-h2-line-desktop: 38px;

$text-with-h2-size-tablette: 2.5rem;
$text-with-h2-line-tablette: 33px;

$text-with-h2-size-mobile: 2rem;
$text-with-h2-line-mobile: 28px;

/*gap*/
$gap: 20px;