.chat__and__other {
  height: fit-content;
  margin-bottom: $gap;
}


.tooltip {
    color: $bleu-myrtille;
    font-family: $body-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    max-width: 28ch;
    text-align: left;
  }
  .tooltip {
    /* triangle dimension */
    --b: 15px; /* control the base */
    --h: 5px; /* control the height */
  
    --c:#D7D7DA;
  
    padding: 12px 30px;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    clip-path: polygon(0 0,100% 0,100% 100%,
      var(--b) 100%,
      calc(-1*var(--h)) calc(100% + var(--h)),
      0 calc(100% - var(--b)));
    background: var(--c);
    border-image: conic-gradient(var(--c) 0 0) 0 0 999 999/
      0 0 calc(var(--h) + var(--b)) calc(var(--h) + var(--b))/0 0 var(--h) var(--h);
  }

  .btn__enregistrez__chat {
    margin: 130px 0;

    @media screen and (min-width: 960px) {
        margin: 230px 0 160px 0;
    }
  }

  .chat__container {
    &__content {
        text-align: center;
    }
  }