.other__container__right__shoppingList {
    display: flex;
    flex-direction: column;
    background-color: $creme-chantilly;
    overflow: hidden;
    height: fit-content;

    h5 {
        color: $vert-pois;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 3px solid $jaune-curcuma;
    }

    &__content {
        display: flex;
        overflow-y: auto;
        height: 100%;
        position: relative;
    }

    .title {
        flex-grow: 1;
        text-align: center;
        margin: 0 10px;
    }


    .checkboxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 10px;
        height: 100%;
        width: 25%;
        box-sizing: border-box;
        gap: 25px;
    }

    input[type="checkbox"] {
        appearance: none;
        background-color: $creme-chantilly;
        margin: 0;
        font: inherit;
        color: $jaune-curcuma;
        width: 16px;
        height: 16px;
        border: 3px solid $jaune-curcuma;
        border-radius: 3px;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
      }
      
      .form-control + .form-control {
        margin-top: 1em;
    }

    input[type="checkbox"]::before,
    input[type="checkbox"]::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 3px;
      background-color: #F29F05;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      opacity: 0;
      transition: opacity 0.2s;
    }
    
    input[type="checkbox"]::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    input[type="checkbox"]:checked::before,
    input[type="checkbox"]:checked::after {
      opacity: 1;
    }

    .separator {
        width: 3px;
        background-color: $jaune-curcuma;
    // height: 100%;
        transform: translateX(-50%);
    }

    .items {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        gap: 1.6px;
    }

    .item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .item label {
        margin-left: 5px;
    }
}


