.about {
    color: $creme-chantilly;
    margin-top: 134px;

    &__title__text {

        &__container {
            height: fit-content;
        }

        &__content {
            text-align: center;
            padding: 5%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: $gap-desktop;
            max-width: 1250px;
            margin: 0 auto;
        }
    }

    .about__image__container {
        max-height: 480px;
        min-height: 430px;

        svg {
            width: 75%;
            margin: 0 auto;
            vertical-align: middle;
        }
    }
}