.about {
    color: $creme-chantilly;
    margin-top: 134px;

    &__title__text__content {
        text-align: center;
        padding: 8%;
    }

    .about__image__container {
        text-align: center;
    }
}