.description {

    &__container {
        height: fit-content;
        margin-top: 134px;
        margin-left: 8%;
        margin-right: 8%;

        &__image__title__text {
            margin-bottom: $gap-categorie;
            margin-left: 8%;
            margin-right: 8%;

            img {
                width: 25%;
            }

            h2 {
                color: $rouge-tomate;
            }
    
            p {
                color: $bleu-myrtille;
            } 
        }

        &__step__container {
            @media screen and (min-width: 960px) {
                max-height: 900px;
            }
        }

        &__step__1 {
            color: $creme-chantilly;
            width: 100%;

            @media screen and (min-width: 960px) {
                width: auto;
            }

            .step1 {
                margin: 0 auto;
                text-align: center;
                width: 50%;
                
                @media screen and (min-width: 960px) {
                    height: 50%;
                }
            }
        }

        &__step__2 {
            color: $rouge-tomate;

            .step2 {
                margin: 0 auto;
                width: 50%;
                text-align: center;
                    
                @media screen and (min-width: 960px) {
                    width: auto;
                }
            }
            
        }

        &__step__3 {
            color: $creme-chantilly;
            
            .step3 {
                margin: 0 auto;
                text-align: center;
                
                @media screen and (min-width: 960px) {
                    width: 65%;
                    height: 65%;
                }
            }
        }

        &__step__4 {
            color: $rouge-tomate;
            
            .step4 {
                margin: 0 auto;
                text-align: center;
                
                @media screen and (min-width: 960px) {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        &__step__5 {
            color: $creme-chantilly;
            
            .step5 {
                margin: 0 auto;
                text-align: center;

                @media screen and (min-width: 960px) {
                    width: 50%;
                    height: 50%;
                }

            }
        }

        &__step__6 {
            color: $rouge-tomate;
            width: 100%;

            @media screen and (min-width: 960px) {
                width: auto;
            }

            .step6 {
                margin: 0 auto;
                width: 30%;
                text-align: center;
                    
                @media screen and (min-width: 960px) {
                    width: auto;
                }
            }

        }
    }
}

