.hero {
    display: flex;
    width: 100%;
    gap: 1%;
    text-align: center;

    &__half {
        display: flex;
        flex-direction: column;
        gap: 2%;
        height: 966px;

        &__h1__container {
            padding-top: 120px;
            text-align: center;
            overflow: hidden;
        }

        &__cta {
            color: $creme-chantilly;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: start;

            &__title__text {
                margin-bottom: 28px;
            }
        }

        &__hello {
            padding: 28px;

            img {
                width: 80%;
            }

        }


        &__images__container {
            display: flex;
            gap: 2%;
        }

        &__spoon__artifice__container {
            overflow: hidden;
        }

        .spoonWidth {
            width: 100%;
        }

        .tuppWidth {
            width: 100%;
        }
    }

    &__spoon__artifice {
        &__container {
            height: 100%;
        }

        &__content {
            text-align: center;
        }
    }

    &__tupp {
        &__container {
            height: 100%;
        }
        
        &__content {
            text-align: center;
        }
    }

    @media screen and (max-width: 960px) {
        flex-direction: column;
        gap: 20px;
    }
}