.hero {
    display: flex;
    width: 100%;
    gap: $gap;
    text-align: center;
    height: fit-content;

    &__half {
        display: flex;
        flex-direction: column;
        gap: $gap;
        align-items: center;
        justify-content: center;
        
        &__cta__content {
            display: flex;
            width: 747px;
            flex-direction: column;
            align-items: center;
            gap: 88px;
            
            &__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 64px;
                color: $creme-chantilly;

                p {
                    text-align: start;
                }

                &__title {
                    width: 500px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 28px;

                    h2 {
                        text-align: start;
                    }

                }
            }
        }

        &__hello {
            width: 100%;

            img {
                width: 70%;
            }
        }

        &__images__container {
            display: flex;
            gap: $gap;
        }
    }

    &__spoon__artifice {
        &__container {
            overflow: hidden;
        }

        &__content {
            text-align: center;
        }
    }

    &__tupp {
        &__container {
            height: 100%;
        }
        
        &__content {
            text-align: center;
        }
    }

    @media screen and (max-width: 960px) {
        flex-direction: column;
        gap: $gap;
    }
}